<div class="row">
  <div class="col-lg-4">
    <p><%= link_to "All movies", movies_path %> | <%= link_to "New movie", new_movie_path %></p>
    <p><%= link_to "All showings", showings_path %> | <%= link_to "New showing", new_showing_path %></p>
    <p><%= form_tag("/find", :method=>'post') do %>
		Find ticket: <%= number_field_tag "ticket_id"%>
		<%= submit_tag 'Find', class: "btn" %>
    	<% end %>
  </div>
</div>