<span class="ticket">
	Ticket owner: <%= @ticket.user.name %> | <%= @ticket.user.email %>
	Ticket number: <%= @ticket.id.to_s %>
	Movie: <%= @ticket.showing.movie.title %>
	Date: <%= @ticket.showing.date.strftime("%Y-%m-%d %H:%M") %>
	Seat row: <%= @ticket.ticket_seat_showing.seat.row %>
	Seat number: <%= @ticket.ticket_seat_showing.seat.number %>
</span>